# ignore grid and nodal attribute files
.nsf*
*.grd
*.14
*.13
*.x
wgrib2
*.tar.gz
/.project
*~
null/
*.mod
a.out
*.out
test_command.sh
t.pl
old/
asgspy/
*.log
current.sh
test/
run.me*
*.swp
grib2
*.swo
*.o
output/cpra_postproc/FigureGen
wgrib2*
from.run.properties
errmsg
update-asgs
asgsh
asgs-configs
opt/
tmp/
profiles/
.adcirc-meta/
*.nc
git/
asgs_config*
bin/asgs-lint
