# ignore grid and nodal attribute files
.nsf*
*.grd
*.14
*.13
*.x
wgrib2
*.tar.gz
/.project
*~
null/
*.mod
a.out
*.out
test_command.sh
t.pl
old/
asgspy/
*.log
current.sh
test/
run.me*
*.swp
grib2
*.swo
*.o
output/cpra_postproc/FigureGen
wgrib2.tgz.v1.9.7a
from.run.properties
errmsg
