 EGOM-RT_v20b_asgs_chk.13
     2219482
           7
 sea_surface_height_above_geoid
 m
         1
  %sea_surface_height_above_geoid_default%  
 elemental_slope_limiter
 none
         1
  %elemental_slope_limiter_default%         
 advection_state
 m
         1
  %advection_state_default% 
 mannings_n_at_sea_floor
 none
         1
  %mannings_n_at_sea_floor_default%
 primitive_weighting_in_continuity_equation
 none
         1
  %primitive_weighting_in_continuity_equation_default%
 surface_canopy_coefficient
 none
         1
  %surface_canopy_coefficient_default%
 surface_directional_effective_roughness_length
 none
        12
  %surface_directional_effective_roughness_length_default% 
