host renci_tds
  Hostname ht4.renci.org
  User asgsuser 
  Port 22
  ServerAliveInterval 10
  StrictHostKeyChecking=no
  ConnectTimeout=60
  IdentityFile ~/.ssh/id_rsa

Host lsu_tds
  HostName fortytwo.cct.lsu.edu
  User asgsuser
  Port 2525
  ServerAliveInterval 10
  StrictHostKeyChecking=no
  ConnectTimeout=60
  IdentityFile ~/.ssh/id_rsa

Host tacc_tds
  Hostname adcircvis.tacc.utexas.edu
  User asgsuser
  Port 22
  ServerAliveInterval 10
  StrictHostKeyChecking=no
  ConnectTimeout=60
  IdentityFile ~/.ssh/id_rsa

Host tacc_tds2
  Hostname chg-1.oden.tacc.utexas.edu
  User asgsuser
  Port 22
  ServerAliveInterval 10
  StrictHostKeyChecking=no
  ConnectTimeout=60
  IdentityFile ~/.ssh/id_rsa
