Nodal attributes template for Shinnecock Inlet mesh
3070
3
sea_surface_height_above_geoid
m
1
%sea_surface_height_above_geoid_default%
surface_canopy_coefficient
unitless
1
1
surface_directional_effective_roughness_length
meters
12
0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
sea_surface_height_above_geoid
0
surface_canopy_coefficient
0
surface_directional_effective_roughness_length
0